<a href="https://colab.research.google.com/github/syh0397/codestates-AI-bootcamp-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#VGames2.csv Data Analysis

# **1 . 기본 패키지불러오기**

In [106]:
#라이브러리 불러오기 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
#글꼴설치
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 16 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded


**데이터 불러오기**

In [150]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df.tail()

       Unnamed: 0                         Name  ... JP_Sales  Other_Sales
16593       16594      Ice Age 2: The Meltdown  ...        0         0.01
16594       16595  Rainbow Islands: Revolution  ...        0            0
16595       16596                     NBA 2K16  ...     0.03         0.13
16596       16597  Toukiden: The Age of Demons  ...     0.25         0.03
16597       16598     The King of Fighters '95  ...     0.16         0.01

[5 rows x 10 columns]

# **2. 데이터 확인**

In [109]:
df.shape
#총 값은 16598개 행 10 열

(16598, 10)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

In [111]:
df.isnull().sum()

Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

결측치 확인 결과 year : 271 개 / Genre : 50개 / Publisher  58개
결측치가 있는 것들을 전부 삭제하려면 
년도 별로 정렬해서 최신자료인지 아닌지 부터 확인 해봐야 한다.

In [112]:
print(df.describe())
"""
# 이상한점 1. sales는 나오지 않는다 - 문자가 포함되어 있음 그래서 문자를 없애 주어야함 
기본 단위는 M 
1. K를 M으로 없애고 M을 지운다. 

# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. 
1. 결측치를 0으로 바꾼다. (NA)
2. 1~9 까지는 200을 앞에 붙인다. 
3. 10~50 이하는 2000년도로 바꾸고 
4. 50 이상은 1900년도로 바꾼다.
5. 0은 평균 값으로 변경한다.  

# 이상한점 3 Unnamed: 0 -  drop
# Publisher 결측값은 삭제 
"""

         Unnamed: 0          Year
count  16598.000000  16327.000000
mean    8299.500000   1994.242543
std     4791.574219    155.077168
min        1.000000      0.000000
25%     4150.250000   2003.000000
50%     8299.500000   2007.000000
75%    12448.750000   2010.000000
max    16598.000000   2020.000000

'\n# 이상한점 1. sales는 나오지 않는다 - 문자가 포함되어 있음 그래서 문자를 없애 주어야함 \n기본 단위는 M \n1. K를 M으로 없애고 M을 지운다. \n\n# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. \n1. 결측치를 0으로 바꾼다. (NA)\n2. 1~9 까지는 200을 앞에 붙인다. \n3. 10~50 이하는 2000년도로 바꾸고 \n4. 50 이상은 1900년도로 바꾼다.\n5. 0은 평균 값으로 변경한다.  \n\n# 이상한점 3 Unnamed: 0 -  drop\n# Publisher 결측값은 삭제 \n'

# **3. 데이터 전처리**

#### **Unnamed: 0 탈락시키기**

In [151]:
df.drop('Unnamed: 0', inplace=True, axis=1)
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

# **K랑 M지우기**

In [221]:
df['NA_Sales'] = pd.to_numeric(df['NA_Sales'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16398 non-null  float64
 6   EU_Sales     16398 non-null  float64
 7   JP_Sales     16399 non-null  float64
 8   Other_Sales  16398 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.1+ MB

In [222]:
df['EU_Sales'] = pd.to_numeric(df['EU_Sales'], errors='coerce')
df['JP_Sales'] = pd.to_numeric(df['JP_Sales'], errors='coerce')
df['Other_Sales'] = pd.to_numeric(df['Other_Sales'], errors='coerce')
df.info()
#float 형으로 변경완료

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16398 non-null  float64
 6   EU_Sales     16398 non-null  float64
 7   JP_Sales     16399 non-null  float64
 8   Other_Sales  16398 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.1+ MB

In [223]:
df1=df

In [229]:
df1

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...        0.00
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.00
3                    Deal or No Deal: Special Edition  ...        0.00
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...        0.00
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [245]:
#열추가 
#판매량 총합 추가 
df1["overall_sales"] = (df1['NA_Sales'] + df1['EU_Sales'] + df1['JP_Sales'] + df1['Other_Sales']).round(2)
df1.head()

                                             Name  ... overall_sales
0                    Candace Kane's Candy Factory  ...          0.04
1                                  The Munchables  ...          0.18
2  Otome wa Oanesama Boku ni Koi Shiteru Portable  ...          0.02
3                Deal or No Deal: Special Edition  ...          0.04
4       Ben 10 Ultimate Alien: Cosmic Destruction  ...          0.25

[5 rows x 10 columns]

In [243]:
df2 = df1.sort_values(['overall_sales'], ascending=False)
df2.head(50)

                                               Name  ... overall_sales
2908                                     Wii Sports  ...         82.74
4199                              Super Mario Bros.  ...         40.24
12579                                Mario Kart Wii  ...         35.83
3352                              Wii Sports Resort  ...         33.00
7829                       Pokemon Red/Pokemon Blue  ...         31.38
1203                                         Tetris  ...         30.26
6937                          New Super Mario Bros.  ...         30.01
3014                                       Wii Play  ...         29.01
16531                     New Super Mario Bros. Wii  ...         28.61
10488                                     Duck Hunt  ...         28.31
11137                                    Nintendogs  ...         24.75
10650                                 Mario Kart DS  ...         23.43
9416                    Pokemon Gold/Pokemon Silver  ...         23.09
3435                                        Wii Fit  ...         22.72
10899                                  Wii Fit Plus  ...         22.00
4343                             Kinect Adventures!  ...         21.82
3483                             Grand Theft Auto V  ...         21.39
14669                 Grand Theft Auto: San Andreas  ...         20.81
13111                             Super Mario World  ...         20.62
13229  Brain Age: Train Your Brain in Minutes a Day  ...         20.22
10555                 Pokemon Diamond/Pokemon Pearl  ...         18.35
9491                               Super Mario Land  ...         18.14
14856                           Super Mario Bros. 3  ...         17.28
5340                    Grand Theft Auto: Vice City  ...         16.15
10917                 Pokemon Ruby/Pokemon Sapphire  ...         15.84
10621                   Pokemon Black/Pokemon White  ...         15.32
511     Brain Age 2: More Training in Minutes a Day  ...         15.30
1005                         Gran Turismo 3: A-Spec  ...         14.97
2809                 Call of Duty: Modern Warfare 3  ...         14.76
6248                        Call of Duty: Black Ops  ...         14.64
9070                      Call of Duty: Black Ops 3  ...         14.24
4240                     Call of Duty: Black Ops II  ...         14.04
6393                     Call of Duty: Black Ops II  ...         13.74
6236                 Call of Duty: Modern Warfare 2  ...         13.52
14120                Call of Duty: Modern Warfare 3  ...         13.47
9786                           Grand Theft Auto III  ...         13.10
14902                       Super Smash Bros. Brawl  ...         13.04
9924                        Call of Duty: Black Ops  ...         12.73
3273                    Animal Crossing: Wild World  ...         12.28
11123                                  Mario Kart 7  ...         12.21
6291                                         Halo 3  ...         12.14
2008                             Grand Theft Auto V  ...         11.99
4806           Pokemon HeartGold/Pokemon SoulSilver  ...         11.90
14665                                Gran Turismo 4  ...         11.65
12405                            Super Mario Galaxy  ...         11.52
4251      Pokemon Omega Ruby/Pokemon Alpha Sapphire  ...         11.33
6847             Super Mario Land 2: 6 Golden Coins  ...         11.18
13926                           Grand Theft Auto IV  ...         11.03
4809                                   Gran Turismo  ...         10.95
12623                           Super Mario 3D Land  ...         10.79

[50 rows x 10 columns]

In [ ]:
#총합의 상위 50개를 살펴 본 결과 년도에 NAN값이 나타나지 않는다 . 
#NAN값을 처리하는 것이 그렇게 중요하지 않은듯 하다.
#Nan값을 과감하게 지우자.

In [248]:
df2.dropna()

                                                   Name  ... overall_sales
2908                                         Wii Sports  ...         82.74
4199                                  Super Mario Bros.  ...         40.24
12579                                    Mario Kart Wii  ...         35.83
3352                                  Wii Sports Resort  ...         33.00
7829                           Pokemon Red/Pokemon Blue  ...         31.38
...                                                 ...  ...           ...
2773                                   Mega Brain Boost  ...          0.01
14254     Wand of Fortune: Mirai e no Prologue Portable  ...          0.01
11383            Space Channel 5: Ulala's Cosmic Attack  ...          0.01
12663                     Voodoo Chronicles: First Sign  ...          0.01
5598   SCORE International Baja 1000: The Official Game  ...          0.00

[15476 rows x 10 columns]

In [249]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 2908 to 16591
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           16598 non-null  object
 1   Platform       16598 non-null  object
 2   Year           16327 non-null  float64
 3   Genre          16548 non-null  object
 4   Publisher      16540 non-null  object
 5   NA_Sales       16398 non-null  float64
 6   EU_Sales       16398 non-null  float64
 7   JP_Sales       16399 non-null  float64
 8   Other_Sales    16398 non-null  float64
 9   overall_sales  15813 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

# **Year값** 수정하기

In [226]:
"""
# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. 
1. 결측치를 0으로 바꾼다. (NA)
2. 1~9 까지는 200을 앞에 붙인다. 
3. 10이상~50 미만은 2000년도로 바꾸고 
4. 50 이상 1900년도로 바꾼다.
5. 0은 평균 값으로 변경한다. 
"""

'\n# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. \n1. 결측치를 0으로 바꾼다. (NA)\n2. 1~9 까지는 200을 앞에 붙인다. \n3. 10이상~50 미만은 2000년도로 바꾸고 \n4. 50 이상 1900년도로 바꾼다.\n5. 0은 평균 값으로 변경한다. \n'

In [228]:
df1['Year'].fillna()

ValueError: ignored

In [213]:
def func (x):
    if x < 30 :
        return x + 2000
    elif x >= 30 and x < 100 :
        return x + 1900
    else:
        return

In [216]:
df2 = df1['Year'].apply(func)
df2

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
16593   NaN
16594   NaN
16595   NaN
16596   NaN
16597   NaN
Name: Year, Length: 16598, dtype: float64

In [198]:
df1.describe()

               Year      NA_Sales      EU_Sales      JP_Sales   Other_Sales
count  16327.000000  16398.000000  16398.000000  16399.000000  16398.000000
mean    1994.242543      0.262936      0.146316      0.077508      0.048191
std      155.077168      0.812562      0.506024      0.308086      0.189502
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%     2003.000000      0.000000      0.000000      0.000000      0.000000
50%     2007.000000      0.080000      0.020000      0.000000      0.010000
75%     2010.000000      0.240000      0.110000      0.040000      0.040000
max     2020.000000     41.490000     29.020000     10.220000     10.570000

# Nan값 있는 열 지우기