<a href="https://colab.research.google.com/github/syh0397/codestates-AI-bootcamp-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#VGames2.csv Data Analysis

# **기본 패키지불러오기**

In [106]:
#라이브러리 불러오기 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [107]:
#글꼴설치
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 16 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded


**데이터 불러오기**

In [150]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv')
df.tail()

       Unnamed: 0                         Name  ... JP_Sales  Other_Sales
16593       16594      Ice Age 2: The Meltdown  ...        0         0.01
16594       16595  Rainbow Islands: Revolution  ...        0            0
16595       16596                     NBA 2K16  ...     0.03         0.13
16596       16597  Toukiden: The Age of Demons  ...     0.25         0.03
16597       16598     The King of Fighters '95  ...     0.16         0.01

[5 rows x 10 columns]

# **데이터 확인**

In [109]:
df.shape
#총 값은 16598개 행 10 열

(16598, 10)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

In [111]:
df.isnull().sum()

Unnamed: 0       0
Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

결측치 확인 결과 year : 271 개 / Genre : 50개 / Publisher  58개
결측치가 있는 것들을 전부 삭제하려면 
년도 별로 정렬해서 최신자료인지 아닌지 부터 확인 해봐야 한다.

In [112]:
print(df.describe())
"""
# 이상한점 1. sales는 나오지 않는다 - 문자가 포함되어 있음 그래서 문자를 없애 주어야함 
기본 단위는 M 
1. K를 M으로 없애고 M을 지운다. 

# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. 
1. 결측치를 0으로 바꾼다. (NA)
2. 1~9 까지는 200을 앞에 붙인다. 
3. 10~50 이하는 2000년도로 바꾸고 
4. 50 이상은 1900년도로 바꾼다.
5. 0은 평균 값으로 변경한다.  

# 이상한점 3 Unnamed: 0 -  drop
# Publisher 결측값은 삭제 
"""

         Unnamed: 0          Year
count  16598.000000  16327.000000
mean    8299.500000   1994.242543
std     4791.574219    155.077168
min        1.000000      0.000000
25%     4150.250000   2003.000000
50%     8299.500000   2007.000000
75%    12448.750000   2010.000000
max    16598.000000   2020.000000

'\n# 이상한점 1. sales는 나오지 않는다 - 문자가 포함되어 있음 그래서 문자를 없애 주어야함 \n기본 단위는 M \n1. K를 M으로 없애고 M을 지운다. \n\n# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. \n1. 결측치를 0으로 바꾼다. (NA)\n2. 1~9 까지는 200을 앞에 붙인다. \n3. 10~50 이하는 2000년도로 바꾸고 \n4. 50 이상은 1900년도로 바꾼다.\n5. 0은 평균 값으로 변경한다.  \n\n# 이상한점 3 Unnamed: 0 -  drop\n# Publisher 결측값은 삭제 \n'

# **데이터 전처리**

#### **Unnamed: 0 탈락시키기**

In [151]:
df.drop('Unnamed: 0', inplace=True, axis=1)
df

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

# **K랑 M지우기**

In [154]:
df['NA_Sales'] = pd.to_numeric(df['NA_Sales'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16398 non-null  float64
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(2), object(7)
memory usage: 1.1+ MB

In [155]:
df['EU_Sales'] = pd.to_numeric(df['EU_Sales'], errors='coerce')
df['JP_Sales'] = pd.to_numeric(df['JP_Sales'], errors='coerce')
df['Other_Sales'] = pd.to_numeric(df['Other_Sales'], errors='coerce')
df.info()
#float 형으로 변경완료

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16398 non-null  float64
 6   EU_Sales     16398 non-null  float64
 7   JP_Sales     16399 non-null  float64
 8   Other_Sales  16398 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.1+ MB

# **Year값** 수정하기

In [ ]:
"""
# 이상한점 2. Year에서 최솟값이 0 이고 평균이 1994 라는 이야기는 숫자가 잘못 설정 되었음을 말해준다. 
1. 결측치를 0으로 바꾼다. (NA)
2. 1~9 까지는 200을 앞에 붙인다. 
3. 10~50 이하는 2000년도로 바꾸고 
4. 50 이상은 1900년도로 바꾼다.
5. 0은 평균 값으로 변경한다. 
"""

In [147]:
df[ 'NA_Sales' ]  =  df [ 'NA_Sales' ] . str . replace ( 'M' ,  '' )
df[ 'EU_Sales' ]  =  df [ 'EU_Sales' ] . str . replace ( 'M' ,  '' )
df[ 'JP_Sales' ]  =  df [ 'JP_Sales' ] . str . replace ( 'M' ,  '' )
df[ 'Other_Sales' ]  =  df [ 'Other_Sales' ] . str . replace ( 'M' ,  '' )
df1 = df
df1 # M 전부 제거

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]